<center><h1 id = "cat">User Search</h1>
<%= form_tag usersearch_path, :method => 'get', :id => 'user-search' do %>
    <p>
        <%= text_field_tag :search %>
        <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<h3>
Users you're following:
<br>
<% current_user.following_by_type('User').each do |followed| %>
    <%= link_to followed.username, user_path(followed.id) %>
    <br>
<% end %>
</h3>

