<style>
    body {
        background-color: #CFE6FA;
    }
</style>
<center><h1>
  <%= @user.username %>
</h1>
<% if current_user.username == @user.username %>
 <div id = "edit-link" class = "link"><%= link_to 'Edit Profile', edit_user_path %></div>
 <% end %>
</center>

<u><center>Courses Created:</center></u>
<% @user.courses.each do |course|%>
      <%= link_to course.title, course_path(course.id) %>
      <br>
<% end %>

<br>
<u><center>Courses Currently Taking:</center></u>
    <% Course.all do |course|%>
        <% if current_user.following?(course) %>
        <%= link_to course.title, course_path(course.id) %>
        <br>
    <% end %>
<% end %>

