$('#new-section-form').fadeToggle();
$('#sections').append('<li> <%= j link_to @section.title, "#", class: "section-link", id: @section.id %> </li>');
var section_id = <%= @section.id %>
$('.section-link').css('background-color', 'white');
$('#' + section_id).css('background-color', 'lightgrey');
$('#section-body').append('<%= j render partial: "section", locals: {section: @section} %>');
$('#sview-' + section_id).show();
