<!DOCTYPE html>
<html>
  <head>
    <title>Educake</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Nunito:200,400" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src = "assets/js/script.js"></script>
  </head>
  <body>
    <div class = "header">
        <div id = "logo">educake</div>
        <div class = "header-text">welcome</div>
        <div id = "links">
            <div id = "signup-link" class = "link"><%= link_to 'Sign Up', new_user_path %></div>
            <div id = "login-link" class = "link"><%= link_to 'Login', login_path %></div>
        </div>
    </div>
    <div id = "title">
      <div class = "header-text">Make learning a piece of cake.</div>
    </div>
    <div id = "about">
      <div class = "text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique efficitur felis, eu tincidunt tellus scelerisque sit amet. Suspendisse pretium ultrices nunc eget condimentum. Curabitur luctus elit risus. Maecenas erat lorem, tempus sed ultricies non, consectetur nec ipsum. Ut leo massa, convallis ut venenatis vel, pretium vitae magna. Donec dignissim felis sit amet magna pulvinar tempus. Nam ultrices aliquam sem non pretium.

        Vestibulum consectetur lobortis ligula, in cursus purus ullamcorper euismod. Cras blandit dignissim elit sit amet tristique. Fusce commodo varius nisl at sagittis. Maecenas magna nulla, venenatis in lacus nec, posuere tincidunt sem. Praesent non orci iaculis, ultrices orci nec, euismod ligula. Nulla pulvinar lacinia dapibus. In non sapien at orci pharetra commodo. Ut bibendum sed justo egestas consequat. Donec sed neque porta, ullamcorper turpis et, suscipit arcu. Donec vel purus vitae tortor placerat porttitor in non metus.

        Nullam tristique augue sed quam faucibus cursus. Aliquam ornare placerat mauris, ut tempor tortor suscipit at. In ut pharetra purus. Praesent nec augue vel metus commodo ornare ut nec sapien. Sed ornare augue quis orci pulvinar ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus ex sem, vitae sodales sapien suscipit vel. Nunc vehicula ornare sem vel gravida. Vivamus ante neque, aliquet a ullamcorper nec, convallis eu dolor. Proin maximus ornare arcu. Nunc at convallis odio.


      </div>
   </div>
    
  </body>
</html>