body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}
#new-section-form {
	display: none;
}
.section-form {
	display: none;
}
.delete-section {
	display: none;
}
.new-video-form {
	display: none;
}
.answer {
	display: none;
}
